@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
/* shared style */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.description{
    font-size: .8rem;
    font-weight: 400;
    color: #5A5A5D;
    line-height: 21px;
}
.title{
    font-size: 2rem;
    font-weight: 800;
    color: #131318;
}
#content-screen{
    max-width: 81%;
    margin: 0 auto;
}
.btn{
    background-color: #FF5400;
    font-size: 1rem;
    font-weight: 800;
    color: #ffffff;
    padding: 11px 28px;
    border: 0;
    border-radius: 8px;
}
/* nav style */

.logo{
    display: flex;
    align-items: center;
    gap: 13px;
}
.logo h1{
    font-size: 1.88rem;
    font-weight: 800;
    color: #131318;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0 40px;
}
nav ul{
    list-style-type: none;
    display: flex; 
}
nav ul li{
    padding-left: 35px;
}
nav ul li a{
    text-decoration: none;
    color: #424247;
    font-size: 1rem;
    font-weight: 400;
}
.icon{
    display: none;
}

/* Hero style */

.hero{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
    url('Images/Group\ 13\ \(1\)\ \(1\).png');
    padding: 85px 0;
    margin-bottom: 81px;
    text-align: center;
    border: 0;
    border-radius: 8px;
}
.hero h1{
    font-size: 3.2rem;
    font-weight: 800;
    color:#fff;
}
.hero p{
    color:#fff;
    max-width: 548px;
    margin: 0 auto;
    padding: 20px 0 40px;
    line-height: 20px;
}
.form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 13px;
    max-width: 622px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap:20px;
    align-items: center;
}
.form > div{
    display: flex;
    align-items: center;
    background: #FF5400;
    border: 0;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
}
input, select {
    border-radius: 8px;
    border: 0;
    height: 42px;
    width: 100%;
}

input[type="text"], select{
    padding: 13px;
}
input[type="button"]{
    background: #FF5400;
    color: #ffffff;
    cursor: pointer;
}
.search-icon{
    padding-left: 25px;
}


/* Tour section style */

.tour{
   padding-top: 81px;
   display: flex;
}
.tour-pacakge{
    width: 55%;
}
.tour p{
    padding: 20px 43px 20px 0;
    color: rgba(19, 19, 24, 0.70);
    line-height: 20px;
}
.tour ul{
    padding-left: 5px;  
}
.tour ul li{
    padding: 0px 43px 13px 5px;
    color: rgba(19, 19, 24, 0.70);
    line-height: 20px;
}
.tour img{
    width: 100%;
}
.tour button{
    margin-top: 25px;
}

/* Destination style */

.destination{
    padding-top: 81px;
    text-align: center;
}
.destination p{
    padding: 20px 0 40px;
    color: rgba(19, 19, 24, 0.70);
    max-width: 520px;
    margin: 0 auto;
}
.box1, .box2, .box3{
    display: flex;
    justify-content: center;
    gap:20px;
    padding-bottom: 20px;
    position: relative;
}
.box1 img, .box2 img, .box3 img{
    width: 100%;
}
.Maldives{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 1.4rem;
    font-weight: 800;   
}
.Indonesia{
    color: #fff;
    position: absolute;
    top: 50%;
    right: 20%;
    font-size: 1.4rem;
    font-weight: 800;   
}
.Srilanka{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 12%;
    font-size: 1.4rem;
    font-weight: 800;   
}
.North-America{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 48%;
    font-size: 1.4rem;
    font-weight: 800;   
}
.Kashmir{
    color: #fff;
    position: absolute;
    top: 50%;
    right: 8%;
    font-size: 1.4rem;
    font-weight: 800;   
}
.Bangladesh{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 1.4rem;
    font-weight: 800;   
}
.Bandarban{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 65%;
    font-size: 1.4rem;
    font-weight: 800;   
}

/* About section style */

.about{
    padding-top: 81px;
    text-align: center;
}
.about p{
    padding: 20px 0 40px;
    color: rgba(19, 19, 24, 0.70);
    max-width: 520px;
    margin: 0 auto;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}
.box{
    border-radius: 16px;
    text-align: start;
    padding: 25px;
}
.card-container p{
    padding: 0;
}
.card-title{
    font-size: 1.25rem;
    font-weight: 800;
    color: #131318;
    padding: 25px 0 13px;
}
.base{
    background: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.20);
}
.blue{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.pink{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    position: relative;
    left: 50%;
    right: 50%;
}
/* card style */
.cards{
    padding-top: 81px;
    text-align: center;
}

.cards p{
    padding: 20px 0 40px;
    color: rgba(19, 19, 24, 0.70);
    max-width: 520px;
    margin: 0 auto;
}
.card-div{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding-top: 10px;
}

/* Explore section style */

video{
    max-width: 40vw;
    max-height: 400px;
    border: 0;
    border-radius: 16px;
}

/* Newsletter style */
.newsletter{
    padding-top: 81px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.sign-in{
    border: 1px solid #FF5400;
    border-radius: 16px;
    padding: 32px;
    width: 60%;
}
.sign-in h3{
    padding: 0;
}
.sign-in p{
    padding: 13px 0 20px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}
.newsletter [type="text"], [type="email"]{
    padding: 16px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 13px ; 
}
.newsletter .btn{
    margin-top: 20px;
}
.off-img{
    background-image: url("Images/Rectangle\ 8\ \(1\).png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    position: relative; 
}
.red{
    background: #FF5400;
    width: 260px;
    padding: 30px 35px;
    text-align: center;
    border: 0;
    border-radius: 16px;
    color: #fff;
    position: absolute;
    right:6px;
    bottom: 38px;
    transform: rotate(-20deg);
}

/* Footer style */

.footer{
    background: rgba(19, 19, 24, 0.05);
    padding: 90px 270px;
    text-align: center;
    margin-top: 81px;
}
.footer-div{
    display: flex;
    justify-content: center;
}
.footer-div h1{
    font-size: 1.6rem;
    font-weight: 800;
}
.footer-div img{
    max-width: 33px;
}
.footer p{
    max-width: 623px;
    margin: 0 auto;
    padding: 12px 0 26px;
}
hr{
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
    max-width: 700px;
    margin: 40px auto;  
}
.copyright{
    font-size: .8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #131318;  
}





/* Mobile responsive */
@media screen and (max-width:600px){
    .description{
        font-size: .68rem;
        line-height: 19px;
    }
    .form{
        grid-template-columns: repeat(1, 1fr);
        gap: 13px;
        padding: 13px;
    }
    .form > div{
        justify-content: center;
        gap: 5px;
    }
    input, select {
        width: auto;
    }
    nav{
        padding: 0px;
    }
    nav ul{
        display: none; 
    }
    .logo{padding: 15px;}
    .icon{display: block; font-size: 1.25rem;}
    .logo h1, .hero h1{
        font-size: 1.12rem;  
    }
    .hero{
        margin-top: 15px;
        padding: 26px 20px;
    }
    .hero p{
        font-size: .7rem;
        padding: 8px 12px 26px;
    }
    .tour{
        flex-direction: column;
        padding-top: 20px;
    }
    .tour p{
        font-size: .75rem;
        padding: 13px 0;  
    }
    .tour ul li{
        font-size: .75rem;
        padding-bottom: 10px 0;  
    }
    .tour h2, .about h2{font-size: 1rem;}
    .tour-pacakge{width: 100%;}
    .tour button{margin-bottom: 20px;}
    .tour img{width: 100%;}
    .box1, .box2, .box3{flex-direction: column;}
    .flex-container img{height: 270px;}
    .destination, .cards{padding-top: 20px;}
    .destination p{
        padding: 13px 0;
        font-size: .7rem;
        width: 100%;
    }
    .destination h2 {
        font-size: 1rem;
    }
    .destination img{
        width: 100%;
    }
    .about{padding-top: 0px;}
    .about p{
        padding: 13px 0;
        width: fit-content;  
    }
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 13px;
    }
    .pink{left: 0%;}
    .card-container p{width: fit-content;}
    video{
        width: fit-content;
    }
    .newsletter{flex-direction: column;padding-top: 20px}
    .sign-in{
        padding: 20px ;
        width: 100%; 
    }
    .off-img{
        background-image: url("Images/Rectangle\ 8\ \(1\).png");
        width: 100%;
        height: 250px;  
    }
    .newsletter [type="text"], [type="email"]{
        padding: 13px;
        width: 100%; 
    }
    .newsletter .btn{
        width: 100%; 
    }
    .footer{
        padding: 26px 36px;
        text-align: center;
        margin-top: 20px;
    }
    
    .footer-div h1{
        font-size: 1.1rem;
    }
    .footer-div img{
        width: 23px;
    }
    .footer p{
        padding: 12px 36px;
        width: fit-content;
    }
    hr{
        width: 100%;
        margin: 20px auto;  
    }
    .copyright{
        font-size: .68rem;
        padding: 20px 0 25px; 
    }
    .Maldives{
        top: 27%;
        left: 42%;
        font-size: 1rem;  
    }
    .Indonesia{
        top: 73%;
        right: 43%;
        font-size: 1rem;  
    }
    .Srilanka{
        top: 17%;
        left: 40%;
        font-size: 1rem;  
    }
    .North-America{
        top: 50%;
        left: 38%;
        font-size: 1rem;  
    }
    .Kashmir{
        top: 81%;
        right: 45%;
        font-size: 1rem;  
    }
    .Bangladesh{
        top: 25%;
        left: 40%;
        font-size: 1rem;  
    }
    .Bandarban{
        top: 75%;
        left: 40%;
        font-size: 1rem;  
    }
    
}
@media screen and (min-width:992px) and (max-width: 1200px){
    .Maldives{
        left: 15%;  
    }
    .Indonesia{
        right: 15%;  
    }
    .Srilanka{
        left: 6%;  
    }
    .North-America{
        left: 48%;  
    }
    .Kashmir{
        right: 0%;  
    }
    .Bangladesh{
        left: 9%;  
    }
    .Bandarban{
        left: 68%;  
    }
    .box1 img{
        max-width: 50%;
        height: auto;
    }
    .box2 img{
        max-width: 35%;
        height: auto;
    }
    .box3 img{
        max-width: 52%;
        height: auto;
    }
}